gradle-wrapper.jar
/.gradle
/app/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

.settings/org.eclipse.buildship.core.prefs

gradle.properties

/fastlane/keystore.jks

key.properties