<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>483763399707-qugucocm0a5m3alfr81qb492f1c6dchp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483763399707-qugucocm0a5m3alfr81qb492f1c6dchp</string>
	<key>API_KEY</key>
	<string>AIzaSyDBGwULEugWhXb2QSRZW8xikFrgaIIPCpg</string>
	<key>GCM_SENDER_ID</key>
	<string>483763399707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.tu-dresden.priobike</string>
	<key>PROJECT_ID</key>
	<string>priobikefcm</string>
	<key>STORAGE_BUCKET</key>
	<string>priobikefcm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:483763399707:ios:e03c484d995b10b4d81cbe</string>
</dict>
</plist>
